.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
}
.logo {
  display: flex;
}

.logo-img {
  width: 140px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.filter-btn {
  padding: 10px;
  margin: 10px;
}
.filter {
  cursor: pointer;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.res-cards {
  width: 300px;
  height: 420px;
  border: 1px solid black;
  padding: 10px;
  margin: 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.res-logo {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
